@use '../../Foundation/variables' as *;
@use '../../Foundation/mixin' as *;

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $primary-light;
  border-bottom: 1px solid $primary-lighter;
  @include mq(lg) {
    flex-direction: row;
  }

  a {
    color: #ffffff;
  }
  .navbar-logo {
    flex-basis: calc(100% / 6);
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 2.4rem;
      font-family: $font-logo;
      font-weight: normal;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: $primary-light;
      }
    }
  }
  #navmenu {
    font-size: 0.9em;
  }
}
