@use '../../Foundation/variables' as *;
@use '../../Foundation/mixin' as *;

.prevnext-link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  @include mq(lg) {
    flex-direction: row;
  }
}
