.pagination {
  display: flex;
  justify-content: center;
  ul {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  a.page-numbers,
  span.page-numbers {
    @extend %control;
    @extend %unselectable;
    font-size: $pagination-item-font-size;
    justify-content: center;
    margin: $pagination-item-margin;
    padding-left: $pagination-item-padding-left;
    padding-right: $pagination-item-padding-right;
    text-align: center;
  }
  .prev,
  .next,
  a.page-numbers,
  span.page-numbers {
    border-color: $pagination-border-color;
    color: $pagination-color;
    min-width: $pagination-min-width;
    &:hover {
      border-color: $pagination-hover-border-color;
      color: $pagination-hover-color;
    }
    &:focus {
      border-color: $pagination-focus-border-color;
    }
    &:active {
      box-shadow: $pagination-shadow-inset;
    }
    &[disabled] {
      background-color: $pagination-disabled-background-color;
      border-color: $pagination-disabled-border-color;
      box-shadow: none;
      color: $pagination-disabled-color;
      opacity: 0.5;
    }
  }
  .prev,
  .next {
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
  }
  span.page-numbers {
    &.current {
      background-color: $pagination-current-background-color;
      border-color: $pagination-current-border-color;
      color: $pagination-current-color;
    }
  }
  .pagination-ellipsis {
    color: $pagination-ellipsis-color;
    pointer-events: none;
  }

  ul {
    flex-wrap: wrap;
  }
}